body {
    font-family: Verdana, Geneva, sans-serif;
}
a {
    text-decoration: none;
}
.nav-hold {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}
.nav-hold {
    overflow: hidden;
}
.nav-bar {
    background: #222;
    width: 100%;
}
.nav-logo {
    float: left;
    display: block;
    color: #f9f9f9;
    font-weight: 600;
    padding: 20px 10px;
}

.nav-list {
    float: right;
}

.nav-list li {
    float: left;
}

.nav-list li a {
  display:block;
  padding: 20px 10px;
  color: #f9f9f9;
}

.nav-menu {
  float: right;
  color: #f9f9f9;
  display: none;
  padding: 20px 10px;
  cursor: pointer;
}
