/* IE10 + fix */
@-ms-viewport { width:device-width; }

/* PHONE - 767px */
@media screen and (max-width:767px){
  .nav-menu {
    display: block;
  }
  .nav-list {
    float:left;
    width: 100%;
    max-height: 0;
    transition-property: max-height;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
  }
  .nav-open {
    max-height: 500px;
  }
  .nav-list li {
    width: 100%;
  }
}
