@import 'variables/typography.css';

.section > p:first-of-type::first-letter {
  font-size: 1.5em;
  font-family: var(--font-family-tertiary);
}

.heading {
  background: url('../img/boat-cover.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
}
